body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000; /* Hitam pekat agar partikel menyala */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; /* Pastikan di bawah UI info */
}

#info {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  z-index: 10;
  pointer-events: none;
}